@font-face {
    font-family: "Montserrat Regular";
    src: url("/font/Montserrat-Regular.ttf");

}

@font-face {
    font-family: "Montserrat SemiBold";
    src: url("/font/Montserrat-SemiBold.ttf");

}

@font-face {
    font-family: "Montserrat Italic";
    src: url("/font/Montserrat-Italic.ttf");

}


@font-face {
    font-family: "Montserrat Medium";
    src: url("/font/Montserrat-Medium.ttf");

}

@font-face {
    font-family: "Montserrat Light";
    src: url("/font/Montserrat-Light.ttf");

}

@font-face {
    font-family: "Montserrat MediumItalic";
    src: url("/font/Montserrat-MediumItalic.ttf");

}

.wishList {
    width: 100%;
    padding: 80px 0px;

    &Title {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 11px;
        font-family: "Montserrat Medium", Arial, sans-serif;

        & h1 {
            font-style: normal;
            font-weight: 500;
            line-height: 1.63;

            font-size: 24px;
            letter-spacing: 0.05em;

            color: #262626;
        }

        & p {
            font-style: normal;
            font-size: 15px;
            letter-spacing: 0.05em;
            text-align: center;

            color: #000000;
        }
    }

    &Btns {
        padding: 0 65px;
        margin-top: 40px;
        width: 100%;
        margin-bottom: 60px;

        & a {
            display: flex;
            width: max-content;
            padding: 8px 20px;
            border: 1px solid #262626;

            & p {
                font-family: "Montserrat Regular";
                font-weight: 400;
                font-size: 12px;
                line-height: 15px;
                letter-spacing: 0.1em;
                text-transform: uppercase;

                color: #262626;
            }
        }
    }

    &Products {
        // padding-top: 60px;
        padding: 60px 68px 0;
        width: 100%;
        display: grid;
        gap: 82px;
        grid-template-columns: repeat(3, 1fr);

        &Product {
            display: flex;
            flex-direction: column;
            gap: 15px;
            position: relative;
            transition: all 0.75s ease-in-out;


            & img {
                width: 100%;
            }

            &Text {
                display: flex;
                flex-direction: column;
                gap: 3px;


                &Title {
                    position: relative;
                    width: 100%;

                    & h1 {

                        text-align: center;
                        line-height: 1.23;
                        font-size: 16px;
                        color: #000000;
                        font-weight: 700;
                        font-family: "Montserrat Light", Arial, sans-serif;
                    }

                    & img {
                        cursor: pointer;
                        position: absolute;
                        right: 10px;
                        width: 21px;

                        // height: 26px;
                        top: 0;
                    }
                }

                &SubTitle {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    justify-content: center;
                    align-items: center;

                    & h5 {
                        font-weight: 100;
                        font-size: 16px;
                        text-align: center;
                        font-family: "Montserrat Light", Arial, sans-serif;
                    }

                    & p {
                        text-align: center;
                        font-family: "Montserrat Italic", Arial, sans-serif;
                        font-weight: 300;
                        color: #000000;
                        font-size: 13px;
                    }
                }
            }

            &Btns {
                display: none;
            }

        }
    }

    &BtnMob {
        display: none;
    }

    #BlackLove{
        top: 14px;
    right: 14px;
    width: 16px;
    height: 15px;
    }

}

#BlackLove {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

@media (max-width:1200px) {
    .wishListBtns {
        padding: 0 20px;
    }

    .wishListProducts {
        padding: 60px 20px 80px;
    }
}

// @media (max-width:980px) {
//     .wishList {
//         padding: 60px 0 80px;
//         &Title {
//             padding: 0 10px;

//                 // & h1 {
//                 //     font-size: 30px;
//                 //     line-height: 29px;
//                 // }

//                 // & p {
//                 //     font-size: 19px;
//                 //     line-height: 18px;

//                 // }
//         }

//         &Btns {

//             padding: 0 20px;
//             margin-top: 20px;
//             display: flex;
//             width: 100%;
//             justify-content: center;
//         }

//         &Products {
//             margin: 0;
//             padding-top: 58px;
//             gap: 50px 20px;

//             &Product {
//                 gap: 18px;

//                 &Text {
//                     gap:9px;
//                     &Title {
//                         gap:3px;
//                         & h1 {
//                             font-size: calc(17 * (100vw/980));
//                             line-height: 11px;
//                         }

//                         & img {
//                             width: calc(23 * (100vw/980));
//                             height: calc(19 * (100vw/980));

//                         }
//                     }

//                     &SubTitle {
//                         & h5 {
//                             font-size: calc(17 * (100vw/980));
//                             line-height: 11px;
//                         }

//                         & p {
//                             font-size: calc(17 * (100vw/980));
//                             line-height: 17px;
//                         }
//                     }
//                 }
//             }
//         }

//         &Btns {
//             display: none;

//         }
//     }

//     #BlackLove {
//         position: absolute;
//         top: 3%;
//         right: 5%;
//         width: 20px;
//         height: 20px;
//     }
// }

@media (max-width:980px) {
    .wishList {
        padding: 0;

        &Products {
            gap: 60px 20px;

            &Product {
                gap: 15px;

                &Text {
                    gap: 3px;

                    &Title {
                        & h1 {
                            font-size: calc(14 * (100vw/980));
                        }

                        & img {
                            width: 15px;
                            top: 0;
                        }
                    }

                    &SubTitle {
                        & h5 {
                            font-size: calc(14 * (100vw/980));
                        }

                        & p {
                            font-size: calc(14 * (100vw/980));
                        }
                    }
                }
            }
        }
    }

}

@media (max-width:520px) {
    .wishList {
        padding: 40px 0;

        &Title {
            padding: 0 10px;
            gap: 5px;

            & h1 {
                font-size: 16px;
                line-height: 29px;
            }

            & p {
                font-size: 12px;
                line-height: 18px;

            }
        }

        &Products {
            padding-top: 50px;
            display: grid;
            grid-template-columns: 1fr;
            gap: 50px;

            &Product {
                gap: 0;

                &Text {
                    padding-top: 28px;

                    &Title {
                        & h1 {
                            font-size: 17px;
                            line-height: 25px;
                        }

                        & img {
                            width: 23px;
                            height: 19px;

                        }
                    }

                    &SubTitle {
                        & h5 {
                            font-size: 12px;
                            line-height: 18px;
                        }

                        & p {
                            font-size: 12px;
                            line-height: 18px;
                        }
                    }
                }

                &Btns {
                    display: grid;
                    width: 100%;
                    grid-template-columns: 1fr 1fr;

                    &Light {
                        border: 1px solid #808080;

                        & a {

                            min-height: 54px;
                            padding: 0 20px;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            width: 100%;
                            justify-content: center;

                            & p {
                                font-family: "Montserrat Regular";
                                font-style: normal;
                                font-weight: 400;
                                font-size: 8px;
                                line-height: 10px;
                                text-align: center;
                                text-transform: uppercase;
                                color: #000000;
                            }

                        }
                    }

                    &Black {
                        background-color: #808080;

                        & a {
                            display: flex;
                            min-height: 54px;
                            align-items: center;
                            padding: 0 20px;
                            gap: 10px;

                            & p {
                                font-family: "Montserrat Regular";
                                font-style: normal;
                                font-weight: 400;
                                font-size: 8px;
                                line-height: 10px;
                                text-align: center;
                                text-transform: uppercase;
                                color: #000000;
                            }

                            & img {
                                width: 12px;
                                height: 12px;
                            }
                        }
                    }
                }
            }
        }

        &Btns {
            display: none;
        }

        &BtnMob {
            display: flex;
            margin: 80px 0 25px;
        }
    }

    #BlackLove {
        position: absolute;
        top: 4%;
        right: 4%;
        width: 20px;
        height: 20px;
    }
}


.wishListProductsEmpty {
    display: none;

    &Description {
        margin-top: 140px;
        width: 100%;
        border-top: 1px solid #D9D9D9;
        border-bottom: 1px solid #D9D9D9;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100px;

        & p {
            font-family: "Montserrat Medium";
            font-style: normal;
            font-weight: 500;
            font-size: 26px;
            line-height: 32px;
            /* identical to box height */

            text-align: center;

            color: #000000;
        }
    }
}

@media (max-width:980px) {
    .wishListProductsEmpty {
        &Description {
            margin-top: 80px;

            & p {
                font-size: 19px;
                line-height: 28px;
                max-width: 500px;
            }
        }
    }
}

@media (max-width:520px) {
    .wishListProductsEmpty {
        &Description {
            margin-top: 80px;

            & p {
                font-size: 12px;
                line-height: 18px;
                max-width: 300px;
            }
        }
    }
}


//toggle 

.wishListScale {
    opacity: 0;
}