* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.Main video {
  width: 100%;
  height: 60%;
}
.Main p {
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.55;
  text-align: center;
  padding: 0 20px;
  color: #3D4043;
  font-family: "Montserrat Regular", Arial, sans-serif;
  font-weight: 300;
  color: #000000;
}
.Main picture {
  margin: 0 auto;
}
.Main picture img {
  max-width: 1440px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 824px;
}

@media (max-width: 980px) {
  .Main {
    gap: 40px;
  }
  .Main p {
    font-size: 15px;
    line-height: 26px;
  }
}
@media (max-width: 520px) {
  .Main {
    gap: 40px;
  }
  .Main p {
    font-size: 13px;
    line-height: 22px;
  }
  .Main picture {
    margin: 0;
  }
  .Main picture img {
    max-height: 500px;
  }
}
.NewProducts {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.NewProductsSliderMob {
  display: none;
}
.NewProductsTitle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.NewProductsTitle h1 {
  line-height: 1.23;
  font-size: 40px;
  color: #000000;
  font-weight: 700;
  font-family: "Montserrat Light", Arial, sans-serif;
}
.NewProductsSlider {
  display: flex;
  padding: 0 68px;
  justify-content: center;
  align-items: center;
  visibility: visible;
  height: auto;
  width: 100%;
  gap: 40px;
  position: static;
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}
.NewProductsSliderItem {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 15px;
  animation: 4.98s ease-in-out 0s infinite alternate show;
}
.NewProductsSliderItemProduct {
  width: 100%;
  max-height: 450px;
  max-width: 550px;
  transition: opacity 0.7s ease;
}
.NewProductsSliderItemProduct:hover {
  opacity: 0.8;
}
.NewProductsSliderItemAddFavorite {
  position: absolute;
  top: 30px;
  right: 20px;
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.NewProductsSliderItemText {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}
.NewProductsSliderItemTextTitle {
  position: relative;
}
.NewProductsSliderItemTextTitle img {
  position: absolute;
  right: 10px;
  top: 0;
  width: 20px;
}
.NewProductsSliderItemTextTitle h1 {
  text-align: center;
  line-height: 1.23;
  font-size: 16px;
  color: #000000;
  font-weight: 700;
  font-family: "Montserrat Light", Arial, sans-serif;
}
.NewProductsSliderItemText h5 {
  text-align: center;
  font-family: "Montserrat Italic", Arial, sans-serif;
  font-weight: 300;
  color: #000000;
}
.NewProductsSliderItemText p {
  text-align: center;
  font-family: "Montserrat Light", Arial, sans-serif;
}

@media (max-width: 980px) {
  .NewProducts {
    gap: 40px;
    padding-top: 40px;
  }
  .NewProductsTitle h1 {
    font-size: 2.9591836735vw;
  }
  .NewProductsSlider {
    display: grid;
    padding: 0 0px;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .NewProductsSliderItemProduct {
    width: 100%;
    max-height: -moz-fit-content;
    max-height: fit-content;
  }
  .NewProductsSliderItemText {
    gap: 3px;
  }
  .NewProductsSliderItemTextTitle h1 {
    font-size: 1.4285714286vw;
  }
  .NewProductsSliderItemText h5 {
    font-size: 1.4285714286vw;
  }
  .NewProductsSliderItemText p {
    font-size: 1.4285714286vw;
  }
}
@media (max-width: 520px) {
  .NewProductsSlider {
    display: none;
  }
  .NewProducts {
    gap: 40px;
    padding-top: 40px;
  }
  .NewProductsTitle h1 {
    font-size: 14px;
  }
  .NewProductsSliderMob {
    display: block;
  }
  .NewProductsSlider {
    display: none;
  }
  .NewProductsSliderItem {
    animation: none;
  }
  .NewProductsSliderItemProduct {
    width: 100%;
    max-height: -moz-fit-content;
    max-height: fit-content;
  }
  .NewProductsSliderItemText {
    gap: 3px;
  }
  .NewProductsSliderItemTextTitle h1 {
    font-size: 2.6923076923vw;
  }
  .NewProductsSliderItemTextTitle img {
    right: 20px;
  }
  .NewProductsSliderItemText h5 {
    font-size: 2.6923076923vw;
  }
  .NewProductsSliderItemText p {
    font-size: 2.6923076923vw;
  }
}
.closeSlideMainPage {
  opacity: 0.8;
  overflow: hidden;
  position: absolute;
  top: -9000px;
  transition: all 1.5s ease-in-out;
}

@keyframes show {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.98);
  }
}/*# sourceMappingURL=index.css.map */