@font-face {
    font-family: "Montserrat Regular";
    src: url("/font/Montserrat-Regular.ttf");

}

@font-face {
    font-family: "Montserrat SemiBold";
    src: url("/font/Montserrat-SemiBold.ttf");

}

@font-face {
    font-family: "Montserrat Italic";
    src: url("/font/Montserrat-Italic.ttf");

}


@font-face {
    font-family: "Montserrat Medium";
    src: url("/font/Montserrat-Medium.ttf");

}

@font-face {
    font-family: "Montserrat Light";
    src: url("/font/Montserrat-Light.ttf");

}

@font-face {
    font-family: "Montserrat MediumItalic";
    src: url("/font/Montserrat-MediumItalic.ttf");

}

.aboutHome {
    width: 100%;
    height: max-content;


    &Image {
        position: relative;
        width: 100%;
        max-height: 867px;
        display: flex;

        & img {
            width: 100%;
            height: auto;
        }

        & h1 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            text-align: center;
            color: #FFFFFF;
            font-family: 'Montserrat Medium', Arial, sans-serif;
            font-weight: 600;
            font-size: 62px;
            line-height: 1.17;
        }
    }

    &Description {

        display: flex;
        justify-content: center;
        align-items: center;

        &Text {
            padding-top: 80px;

            max-width: 828px;
            display: flex;
            flex-direction: column;
            gap: 25px;

            & h1 {
                line-height: 1.23;
                font-family: "Montserrat Medium", Arial, sans-serif;
                font-size: 20px;
                font-weight: 500;
                color: #000000;
                text-transform: uppercase;
            }

            & p {
                font-family: "Montserrat Regular", Arial, sans-serif;
                font-weight: 300;
                color: #000000;
                font-style: normal;

                font-size: 13px;
                line-height: 1.55;

                color: #000000;

                & strong {
                    font-family: "Montserrat Regular", Arial, sans-serif;
                    font-style: normal;
                    font-weight: 600;
                    color: #000000;
                }
            }
        }
    }

    &Block {

        padding: 80px 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;

        &Images {
            display: flex;

            justify-content: space-between;
            gap: 80px;

            &Item {
                display: flex;
                flex-direction: column;
                gap: 10px;

                & img {
                    width: 100%;
                }

                & p {

                    display: flex;
                    justify-content: flex-end;
                    font-family: "Montserrat Italic";
                    font-weight: 300;
                    font-style: italic;
                    color: #000000;
                    font-style: normal;
                    font-size: 13px;
                    line-height: 1.55;
                    color: #000000;
                }
            }
        }

    }

    &Box {
        width: 100%;
        padding: 80px 210px 0;
        display: flex;

        align-items: flex-end;
        justify-content: flex-end;
        gap: 10px;

        &Item {

            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            max-width: 584px;
            float: right;

            &img {
                width: 100%;
            }

            & p {


                display: flex;
                justify-content: flex-end;
                font-family: "Montserrat Regular", Arial, sans-serif;
                font-weight: 300;
                color: #000000;
                font-style: normal;
                font-size: 13px;
                line-height: 1.55;
                color: #000000;

            }
        }

        &-left {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
        }

    }

    &Text {
        padding: 80px 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &Title {
            display: flex;
            flex-direction: column;
            gap: 20px;
            max-width: 878px;
            padding-bottom: 30px;


            & p {
                font-family: "Montserrat Regular", Arial, sans-serif;
                font-weight: 300;
                color: #000000;
                font-style: normal;
                font-size: 13px;
                line-height: 1.55;
                color: #000000;
            }

            & h1 {
                line-height: 1.23;
                font-family: "Montserrat Medium", Arial, sans-serif;
                font-size: 20px;
                font-weight: 500;
                color: #000000;
                text-transform: uppercase;

            }
        }

        &Description {
            border-bottom: 1px solid #D9D9D9;
            border-top: 1px solid #D9D9D9;
            display: flex;
            flex-direction: column;
            gap: 20px;
            max-width: 878px;
            padding: 30px 0;

            & p {

                font-family: "Montserrat Regular", Arial, sans-serif;
                font-weight: 300;
                color: #000000;
                font-style: normal;
                font-size: 13px;
                line-height: 1.55;
                color: #000000;
            }
        }

        &Sub {
            padding: 30px 0 0 0;
            display: flex;
            flex-direction: column;
            gap: 50px;
            max-width: 878px;

            & p {
                font-family: "Montserrat Regular", Arial, sans-serif;
                font-weight: 300;
                color: #000000;
                font-style: normal;
                font-size: 13px;
                line-height: 1.55;
                color: #000000;
            }

            & h1 {
                line-height: 1.23;
                font-family: "Montserrat Medium", Arial, sans-serif;
                font-size: 20px;
                font-weight: 500;
                color: #000000;
                text-transform: uppercase;

            }
        }
    }

    &List {
        width: 100%;
        padding: 80px 80px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &Item {
            display: flex;
            flex-direction: column;

            max-width: 878px;
            gap: 30px;

            & p {
                font-family: "Montserrat Regular", Arial, sans-serif;
                font-weight: 300;
                color: #000000;
                font-style: normal;
                font-size: 13px;
                line-height: 1.55;
                color: #000000;
            }

            & ul {
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding-left: 15px;

                & li {
                    list-style-type: circle;
                    font-style: normal;
                    font-family: "Montserrat Regular", Arial, sans-serif;
                    font-weight: 300;
                    color: #000000;
                    font-style: normal;
                    font-size: 13px;
                    line-height: 1.55;
                    color: #000000;
                }
            }
        }
    }
}

@media (max-width:980px) {
    .aboutHome {
        &Description {
            padding: 0 20px;
            gap: 20px;

            &Text {
                padding-top: 80px;

                & h1 {
                    font-size: calc(24 * (100vw/980));
                }
            }
        }

        &Block {
            padding-top: 40px;

            &Images {
                gap: 20px;
            }
        }

        &Box {
            padding: 40px 20px 0 50px;

            &Item {
                max-width: 451.625px;
            }
        }

        &Text {
            padding: 40px 20px;

            &Title {
                & h1 {
                    font-size: calc(24 * (100vw/980));
                }
            }

            &Sub h1 {
                font-size: calc(24 * (100vw/980));
            }

        }

        &List {
            width: 100%;
            padding: 40px 20px;

            &Item {
                max-width: 878px;
                gap: 30px;

                & ul {
                    padding-left: 21px;
                }
            }
        }



    }
}

@media (max-width:520px) {
    .aboutHome {
        &Image {
            & h1 {
                font-size: calc(48 * (100vw/520));
            }
        }

        &Description {


            &Text {
                padding-top: 20px;
                gap: 15px;

                & h1 {
                    font-size: calc(13 * (100vw/520));
                }

                & p {
                    font-size: calc(13 * (100vw/520));
                }
            }
        }

        &Block {
            padding: 20px 0px 0;

            &Images {
                flex-direction: column;

                &Item {
                    gap: 0;

                    & p {
                        font-size: calc(13 * (100vw/520));
                        padding: 5px 5px 0;
                    }
                }
            }
        }

        &Box {
            padding: 20px 10px 0 50px;

            &-left {
                padding: 20px 50px 0 10px;
            }

            &Item {
                width: 100%;

                & p {
                    max-width: max-content;
                    width: 100%;
                    padding: 5px 0px 0;
                    font-size: calc(13 * (100vw/520));
                }

                &-left {
                    display: flex;
                    justify-content: end;
                    align-items: end;

                    & img {
                        width: 100%;
                    }
                }

            }

        }

        &Text {
            padding: 20px 20px;

            &Title {
                padding-bottom: 20px;
                gap: 15px;
            }

            &Description {
                gap: 15px;
                padding: 20px 0;

                & p {
                    font-size: calc(13 * (100vw/520));
                }
            }

            &Sub {
                padding-top: 20px;
                gap: 25px;
            }
        }

        &List {
            width: 100%;
            padding: 20px 20px;

            &Item {
                gap: 20px;

                & ul {
                    padding-left: 17px;
                    gap: 13px;

                    & li {
                        font-size: calc(13 * (100vw/520));
                    }

                }

                & p {
                    font-size: calc(13 * (100vw/520));
                }
            }
        }

    }
}

@media (max-width:320px) {
    .aboutHome {
        &Image {
            & h1 {
                font-style: normal;
                width: 100%;
                font-weight: 500;
                font-size: 21px;
                line-height: 37px;
                text-align: center;
                color: #FFFFFF;
            }
        }

        &Description {
            &Text {
                padding-top: 40px;

                & h1 {
                    font-size: 11px;
                    line-height: 15px;
                }

                & p {
                    font-size: 11px;
                    line-height: 15px;
                }
            }
        }

        &Text {
            padding: 40px 20px;

            &Title {
                padding-bottom: 20px;
                gap: 15px;

                & h1 {
                    font-size: 11px;
                    line-height: 15px;
                }

                & p {
                    font-size: 11px;
                    line-height: 15px;
                }
            }

            &Description {
                gap: 15px;
                padding: 20px 0;

                & p {
                    font-size: 11px;
                    line-height: 15px;
                }
            }

            &Sub {
                padding-top: 20px;
                gap: 25px;

                & p {
                    font-size: 11px;
                    line-height: 15px;
                }

                & h1 {
                    font-size: 11px;
                    line-height: 15px;
                }
            }
        }

        &List {
            width: 100%;
            padding: 40px 20px;

            &Item {

                gap: 20px;

                & p {
                    font-size: 11px;
                    line-height: 15px;
                }

                & ul {
                    padding-left: 14px;

                    & li {
                        font-size: 11px;
                        line-height: 15px;
                    }
                }
            }
        }
    }
}