.homeFragrances {
    width: 100%;
    height: max-content;

    &Image {
        position: relative;
        width: 100%;
        max-height: 867px;
        display: flex;

        & img {
            width: 100%;
            height: auto;
        }

        & h1 {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: "Montserrat Medium";
            font-style: normal;
            font-weight: 500;
            font-size: 65px;
            line-height: 79px;
            text-align: center;
            color: #FFFFFF;
            text-shadow: 1px 1px 2px #8d8282;
          
        }
    }

    &Description {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &Text {
            padding: 120px 20px;
            max-width: 1258px;

            & p {
                font-family: "Montserrat Regular";
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 29px;
                text-align: center;
                color: #3D4043;
            }
        }
    }

    &Block {
        padding: 120px 0px;

        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &Items {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            &Item {
                position: relative;
                transition: all 0.7s ease-in-out;

                & img {
                    width: 100%;
                }

                & h1 {
                    text-shadow: 1px 1px 2px #8d8282;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-family: "Montserrat Medium";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 37px;

                    text-align: center;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    & img{
                        display: none;
                    }
                }
            }

            &Item:hover {
                transform: scale(1.01);
            }
        }
    }

    &Link {
        padding: 40px 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        & a {
            font-family: "Montserrat Regular";
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            line-height: 34px;
            text-align: center;
            text-transform: uppercase;
            color: #3D4043;
            padding-bottom: 10px;
            border-bottom: 0.5px solid #3D4043;
        }

    }
}

@media (max-width:980px) {
    .homeFragrances {


        &Image {
            & h1 {
                font-size: 29px;
                line-height: 45px;

            }
        }

        &Description {
            &Text {
                padding: 80px 20px 0;

                & p {
                    font-size: 19px;
                }
            }
        }

        &Block {
            padding: 80px 0 0 0;

            &Items {
                &Item {
                    & h1 {
                        font-size: 15px;
                        line-height: 26px;
                    }
                }
            }
        }

        &Link {
            & a {
                font-size: 19px;
            }
        }
    }
}

@media (max-width:520px) {
    .homeFragrances {
        &Image {
            display: none;
        }

        &Description {
            display: none;
        }

        &Block {
            padding: 0;

            &Items {
                display: flex;
                flex-direction: column;
                gap: 40px;

                &Item {
                    display: flex;
                    flex-direction: column-reverse;
                    gap: 20px;

                    & h1 {
                        padding: 10px;
                        position: static;
                        text-align: start;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 15px;
                        text-transform: uppercase;
                        color: #262626;
                        text-shadow: 1px 1px 2px #8d828200;

                        transform: translate(0%, 0%);
                        padding-bottom: 10px;
                        border-bottom: 0.5px solid #D9D9D9;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        & img{
                            display: flex;
                            width: 11px;
                            height: 11px;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }

        &Link {
            & a {
                font-size: 10px;
                line-height: 12px;
                padding-bottom: 5px;
                border-bottom: 0.5px solid #D9D9D9;
            }
        }
    }
}